RFQ_BASE_SEPOLIA_RPC_URL=https://replace-with-private-rpc
RFQ_DEPLOYER_KEY=0xreplace_with_ephemeral_deployer_key
RFQ_USDC_ADDRESS=0xreplace_with_verified_native_base_sepolia_usdc
RFQ_VERIFIER_PROXY_ADDRESS=0xreplace_with_verified_chainlink_verifier_proxy
RFQ_GOVERNANCE_ADDRESS=0xreplace_with_deployed_timelock
RFQ_EMERGENCY_COUNCIL_ADDRESS=0xreplace_with_emergency_safe
RFQ_APPROVER_1_ADDRESS=0xreplace_with_approver_one
RFQ_APPROVER_2_ADDRESS=0xreplace_with_approver_two
RFQ_APPROVER_3_ADDRESS=0xreplace_with_approver_three
RFQ_BTC_FEED_ID=0xreplace_with_subscribed_btc_feed_id
RFQ_ETH_FEED_ID=0xreplace_with_subscribed_eth_feed_id
RFQ_BTC_FEED_DECIMALS=8
RFQ_ETH_FEED_DECIMALS=8
RFQ_BASE_RISK_CAPITAL_USDC=600000
